{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" type='text/css' href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Logout</h2>
        <p>are u sure u wanna logout?</p>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <a href="{% url 'home' %}">Cancel</a>
    </div>
</body>
</html>